<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body >
<div th:replace="base::navbar"></div>

<div class="container" >

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4 pt-5">Student Search</h1>

            <div th:each="student: ${students}"  class="card" >
                <div th:if="${student.pic} != null">
                    <img class="card-img-top" th:src="${student.pic}" alt="Card image cap" >
                </div>
                <div class="card-body">
                    First name :  <span th:text="${student.firstName}"></span><br/>
                    Last name :  <span th:text="${student.lastName}"></span><br/>
                    ID:  <span th:text="${student.id}"></span><br/>


                </div>

                <div class="row">
                    <div class="col-md-4">
                        <a style="margin: 10px" class="btn btn-primary" th:href="@{/update/{id}(id=${student.id})}">Update</a>
                    </div>
                    <div class="col-md-4">
                        <a style="margin: 10px"  class="btn btn-info"th:href="@{/detail/{id}(id=${student.id})}">Detail</a>
                    </div>
                    <div class="col-md-4">
                        <a style="margin: 10px" class="btn btn-danger" th:href="@{/delete/{id}(id=${student.id})}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination -->




        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 " >
            <br/><br/><br/><br/><br/>
            <!-- Search Widget -->
            <div class="card my-4"  >
                <h5 class="card-header">Search Course</h5>
                <div class="card-body">
                    <form class="form-inline" th:action="@{/searchcourse}" method="post">
                        <input type="text" name="search" class="form-control" placeholder="Search for...">
                        <span >
                <button class="btn btn-secondary" type="submit" name="submit">Go!</button>
              </span>
                    </form>
                </div>
            </div>

            <!-- Categories Widget -->

            <div class="card my-4"  >
                <h5 class="card-header">Search Student</h5>
                <div class="card-body">
                    <form class="form-inline" th:action="@{/searchstudent}" method="post">
                        <input type="text" name="search" class="form-control" placeholder="Search for...">
                        <span >
                <button class="btn btn-secondary" type="submit" name="submit">Go!</button>
              </span>
                    </form>
                </div>
            </div>
            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->
    <br/><br/>
    <div class="row" style="padding-left: 200px" >
        <ul class="pagination justify-content-center mb-1">
            <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>